# For debian 8 put it in /lib/systemd/system/
# after you add you will need to run sudo systemctl daemon-reload
# to call use the following commands
# sudo systemctl status oxidized.service
# sudo systemctl stop oxidized.service
# sudo systemctl start oxidized.service

[Unit]
Description=Oxidized - Network Device Configuration Backup Tool

[Service]
ExecStart=/usr/local/bin/oxidized
User=oxidized
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
