/* style.css */
* {
    font-family: Ubuntu;
    font-size: 12px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
}

/* change color of column that can not be sorted on dataTables */
.dataTable th {
    font-size: 12px;
    color: white;
    //background-color: #da585e;
    background-color: #377bb5;
}
table#example {
    table-layout: fixed;
    word-wrap: break-word
}
table#example th {
    font-size: 12px;
    color: white;
    //background-color: #da585e;
    background-color: #377bb5;
}
table#example td {
    font-size: 10px;
}

table.table1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
table.table1 td {
   font-size: 18px;
   padding-right: 10px;
}

table.table2 {
    border-collapse: separate;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px
}
table.table2 td {
    padding-right: 20px;
}

table.table3 {
    border-collapse: separate;
    margin-top: 10px;
    margin-bottom: 10px;
}
table.table3 td {
    padding-right: 20px;
}

td.custom1 {
    text-align: right;
    padding: 5px;
}
mark{
    background: yellow;
    color: black;
    font-size: 10px;
}

.row{
    margin-top: 1px;
    margin-bottom: 1px;
}

/* Allow for extra small input box in bootstrap */
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    column-width: 70px;
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
}

a.btn.btn-default.columns {
    padding: 1px 5px;
    font-size: 10px;
    height: 22px;
    color: white;
    background-color: #377bb5;
}
a.btn.btn-default.rows {
    padding: 1px 5px;
    font-size: 10px;
    height: 22px;
   color: white;
   background-color: #377bb5;
}
a.btn.btn-default.refresh {
    padding: 1px 5px;
    font-size: 10px;
    height: 22px;
    color: white;
    background-color: #377bb5;
}
